name: ts

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - .github/workflows/ts.yaml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - .github/workflows/ts.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn
      - run: yarn lint
      - run: yarn format-check
      - run: yarn test
      - run: yarn build
      - run: yarn package

      - name: With post
        uses: ./
        with:
          post: |
            :memo: E2E test has passed

      - name: With run and success
        uses: ./
        with:
          run: uname -a
          post-on-success: |
            :white_check_mark: Success
            ```
            ${output}
            ```
          post-on-failure: |
            :x: Failure
            ```
            ${output}
            ```

      - name: With run and failure
        continue-on-error: true
        uses: ./
        with:
          run: false
          post-on-success: |
            :white_check_mark: Success
            ```
            ${output}
            ```
          post-on-failure: |
            :x: Failure
            ```
            ${output}
            ```
