name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  ts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - name: With post
        uses: ./
        with:
          post: |
            :memo: E2E test has passed

      - name: With update-if-exists
        uses: ./
        with:
          update-if-exists: replace
          post: |
            :warning: This comment will be replaced.

      - name: With run and success
        uses: ./
        with:
          run: uname -a
          post-on-success: |
            ## :white_check_mark: Success
            ```
            ${run.output}
            ```
          post-on-failure: |
            ## :x: Failure
            ```
            ${run.output}
            ```

      - name: With run and failure
        continue-on-error: true
        uses: ./
        with:
          run: cat dummy-file
          post-on-success: |
            ## :white_check_mark: Success
            ```
            ${run.output}
            ```
          post-on-failure: |
            ## :x: Failure
            ```
            ${run.output}
            ```

      - name: With update-if-exists=recreate
        uses: ./
        with:
          update-if-exists: recreate
          post: |
            :memo: This comment should be recreated.

      - name: With update-if-exists=replace
        uses: ./
        with:
          update-if-exists: replace
          post: |
            :white_check_mark: This comment has been replaced.

      - name: With update-if-exists=append
        uses: ./
        with:
          update-if-exists: append
          post: |
            :memo: This comment should be appended.

      - if: github.event_name == 'pull_request'
        name: With issue-number
        uses: ./
        with:
          issue-number: ${{ github.event.pull_request.number }}
          post: |
            :memo: `issue-number` input works

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2.67.0
